.square {
  //   border: 1px solid black;
  // min-width: 80vh / $size-board;
  // min-height: 80vh / $size-board;
  position: relative;
}

.fullsize {
  position: absolute;
  width: 100%;
  height: 100%;
}

.color0 {
  background-color: #ebecd0;
}

.color1 {
  background-color: #779556;
}

.colorH0 {
  background-color: #f7f769;
}

.colorH1 {
  background-color: #bbcb2b;
}

.draggable {
  background-color: green;
}

.not-draggable {
  background-color: red;
}
